<%= @post.name %>
<br>
<p>  
  <%= link_to 'edit', edit_post_path %>
  |<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
</p>
<%= time_ago_in_words(@post.created_at) %>
<br>
<%= @post.body %>